<div>
    <div class="clearfix list-bar">
        <div class="col-sm-4 pull-right">
            <button type="submit" ng-click="new()" class="btn button-cancel btn-default pull-right">新建商品</button>
        </div>
    </div>

    <div loading-container="tableParams.settings().$loading">
        <table ng-table="tableParams" show-filter="true" class="table table-condensed table-striped">   
            <tr ng-repeat="application in $data">
                <td data-title="'商品ID'" sortable="'id'">
                    {{application.id}}
                </td>
                <td data-title="'名称'" filter="{'name': 'text'}" sortable="'name'">
                    {{application.name}}
                </td>
                <td data-title="'所属商户'" filter="{'loginName': 'text'}">
                    {{application.merchant.loginName}}
                </td>
                <td data-title="'产地'" sortable="'origin'">
                    {{application.origin}}
                </td>
                <td data-title="'商品一级分类'" sortable="'goods_category'">
                    {{application.category.name}}
                </td>
                <td data-title="'商品二级分类'" sortable="'goods_category'">
                    {{application.categoryType.name}}
                </td>
                <td data-title="'图片数量'" sortable="'image_urls'">
                    {{application.imageUrls.length}}
                </td>
                <td data-title="'发货地区'" sortable="'goods_area'">
                    {{application.goodsArea}}
                </td>
                <td data-title="'商品编号'" sortable="'goods_code'">
                    {{application.goodsCode}}
                </td>
                <td data-title="'是否上架'">
                    <switch name="isShelves" class="wide" ng-model="application.isShelves" ng-click="isShelves(application)"></switch>
                </td>
                <td data-title="'操作'">
                    <a type="button" ng-click="edit(application)" class="btn btn-default btn-operation" title = "详情/编辑">编辑</a>
                    <a type="button" ui-sref="detail-goods-list({good: '{{application}}'})" class="btn btn-default btn-operation" title = "详情/编辑">管理商品</a>
                    <a type="button" ng-click="delete(application)" class="btn btn-default btn-operation" title = "删除">删除</a>
                </td> 
            </tr>
        </table> 
    </div>
</div>