<div>
    <div class="clearfix list-bar">
        <div class="col-sm-4 pull-right">
            <button type="submit" ng-click="new()" class="btn button-cancel btn-default pull-right">新建商品</button>
        </div>
    </div>

    <div loading-container="tableParams.settings().$loading">
        <table ng-table="tableParams" show-filter="true" class="table table-condensed table-striped">   
            <tr ng-repeat="application in $data">
                <td data-title="'商品ID'" sortable="'id'">
                    {{application.id}}
                </td>
                <td data-title="'名称'" filter="{'name': 'text'}" sortable="'name'">
                    {{application.name}}
                </td>
                <td data-title="'所属商户'" filter="{'merchant_id': 'text'}"  sortable="'merchant_id'">
                    {{application.merchant.loginName}}
                </td>
                <td data-title="'产地'" sortable="'origin'">
                    {{application.origin}}
                </td>
                <td data-title="'商品分类'" sortable="'goods_category'">
                    {{application.category.name}}
                </td>
                <!-- <td data-title="'图片列表'" sortable="'image_urls'">
                    {{application.imageUrls}}
                </td> -->
                <td data-title="'发货地区'" sortable="'goods_area'">
                    {{application.goodsArea}}
                </td>
                <td data-title="'商品编号'" sortable="'goods_code'">
                    {{application.goodsCode}}
                </td>
                <td data-title="'是否删除'" sortable="'is_deleted'">
                    {{application.isDeleted}}
                </td>         
                <td data-title="'操作'">
                    <a type="button" ng-click="edit(application)" class="btn btn-default btn-operation" title = "详情/编辑">编辑</a>
                    <a type="button" ng-click="editDetail(application)" class="btn btn-default btn-operation" title = "详情/编辑">管理商品</a>
                    <a type="button" ng-click="delete(application)" class="btn btn-default btn-operation" title = "删除">删除</a>
                    <div class="hidden-input">
                        
                        <input type="file" ng-click="showBtn=true" class="height-width-100" ngf-select ng-model="openIdFile" name="file" ngf-accept="'text/plain'"><i class="sa fa fa-remove"></i></input>
                    </div>
                    <a type="button" ng-show="showBtn" ng-click="showBtn = false || upload($scope, openIdFile, group)" class="btn btn-default btn-operation" title="上传">上传</a>
                </td> 
            </tr>
        </table> 
    </div>
</div>