$page-left = 230px;
html body {
    color: #222;
    font-family: "Microsoft YaHei";
}

.table th {
   text-align: center;   
}

h1 {
    font-size: 30px;
}

a:link {
text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.page-sidebar-expanded {
    padding-left: $page-left;
}

.sidebar-wrapper {
    background: #373d47;
    border-right: 1px solid #373d47;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 99;
}

.page-sidebar-expanded .sidebar-wrapper {
    width: $page-left;
}

.content-wrapper {
    background: #fff;
}

@media (min-width: 1199px) {
    .page-sidebar-expanded {
        padding-left: $page-left;
    }

    .page-sidebar-expanded .sidebar-wrapper {
        width: 235px;
    }

    .page-sidebar-expanded .sidebar-wrapper .nav-sidebar {
        margin-top: 29px;
        position: fixed;
        top: 45px;
        width: 230px;
    }

}

li {
    list-style: none;
}

span {
    display: inline-block;
    cursor: pointer;
}

.expire-color {
    color: red;
}

.error-label {
    height: 30px;
}

html body {
  padding-top: 48px;
  color: #222;
  font-family: "Microsoft YaHei";
}

h1 {
  font-size: 30px;
}

table {
  font-size: 12px;
}

.header-logo {
  color: #979da7;
  margin-left: 16px;
}

.header-profile {
  margin: 10px 25px 0 0;
}

@media (min-width: 1199px) {
  .page-sidebar-expanded {
    padding-left: 230px;
  }

  .page-sidebar-expanded .sidebar-wrapper {
    width: 235px;
  }

  .page-sidebar-expanded .sidebar-wrapper .nav-sidebar {
    margin-top: 29px;
    position: fixed;
    top: 45px;
    width: 230px;
  }


}

.height100 {
  height: 100%;
}

.sidebar-wrapper {
  z-index: 99;
  background: #373d47;
}

.sidebar-wrapper a {
  color: #979da7;
}

.page-with-sidebar .sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.content-wrapper {
  width: 100%;
  padding: 15px;
  background: #FFF;
  height: 100%;
}

/**Popup Style***/
.popup {
  padding: 10px;
}

.popup-delete {
  margin-top: 20px;
}

.popup-body-delete {
  margin-top: 20px;
}

.popup-header {
  margin-bottom: 15px;
}

.popup-title {
  margin: 0;
}

.list-bar {
  margin-top: 15px;
  margin-bottom: 25px;
}

.list-search {
  width: 105px;
}

.list-action-new {
  margin-left: 15px;
}


.search-input {
  margin-left: 5px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border: 1px solid #ccc;
  vertical-align: middle;
  width: 130px;
}

.channel-select {
  padding: 4px 8px;
  margin-left: 0px;
  width: 100px;
}

.search-area {
  margin-left: -22px;
}

.search-select {
  width: 130px;
}

.btn-operation {
  margin-left: 10px;
}

.button-cancel {
  margin-left: 20px;
}

.button-submit {
  margin-left: 220px;
}

/**End popup***/

.fa {
  margin-right: 5px;
}


.keyword-switch {
  height: 35px;
}

.cursor-default[disabled] {
  cursor: default;
}

.sa {
  margin-right: 0px;

}

th.switch {
  display: table-cell;
}

.expire-color {
  color: red;
}

.effective-color {
  color: green;
}

.before-effective-color {
  color: orange;
}

.error-label {
  height: 30px;
}

tbody > tr > td {
    max-width: 200px;
    word-wrap: break-word;
}

.wide-td {
    max-width: 800px;
}