 .gri_contrast {
     float: left;
     margin: 4px 8px 0;
     line-height: 20px;
     color: #666;
     cursor: pointer;
     font: 12px/1.5 Tahoma, Helvetica, sans-serif
 }
 
 .icon_been_developer,
 .icon_mode,
 .icon_mode_open,
 .item_add {
     display: inline-block
 }
 
 .app_view {
     top: 45px;
     bottom: 0;
     overflow: auto;
     width: 100%;
     background-color: #FFF
 }
 
 .upload_tips_block .upload_tips {
     display: block;
     margin-left: 0;
     padding-top: 4px;
     padding-bottom: 10px
 }
 
 .jstree-default>.jstree-no-dots .jstree-open>.jstree-ocl {
     width: 20px;
     margin-left: 5px;
     height: 20px;
     margin-right: 0;
     margin-top: 5px;
     display: inline-block
 }
 
 .icon_message_center {
     display: inline-block;
 }
 
 .message_view {
     position: absolute;
     left: 0;
     right: 0;
     top: 45px;
     bottom: 0
 }
 
 .message_view_simple {
     right: 400px
 }
 
 .message_bar {
     padding: 0 10px;
     height: 40px;
     line-height: 40px;
     border-bottom: 1px solid #e5e5e5;
     color: #d8d8d8
 }
 
 .message_filetype_items li {
     float: left;
     padding: 0 10px;
     margin-right: 10px
 }
 
 .message_filetype_items li span {
     vertical-align: -1px;
     display: inline-block
 }
 
 .message_filetype_items li a {
     padding: 0 6px;
     color: #777;
     height: 40px;
     line-height: 40px;
     display: inline-block;
 }
 
 .message_filetype_items li:hover a {
     text-decoration: none
 }
 
 .message_filetype_items li.active,
 .message_filetype_items li:hover {
     border-bottom: 3px solid #4a90e2;
     color: #222
 }
 
 .message_filetype_items li.active .mod-icon__send-message-i1,
 .message_filetype_items li:hover .mod-icon__send-message-i1 {
     background-position: -39px 0
 }
 
 .message_filetype_items li:hover .mod-icon__send-message-i2 {
     background-position: 0 -32px
 }
 
 .message_filetype_items li:hover .mod-icon__send-message-i3 {
     background-position: -54px -14px
 }
 
 .message_filetype_items li:hover .mod-icon__send-message-i4 {
     background-position: 0 -18px
 }
 
 .message_filetype_items li:hover .mod-icon__send-message-i5 {
     background-position: -10px -18px
 }
 
 .message_filetype_items li:hover .mod-icon__send-message-i6 {
     background-position: 0 0
 }
 
 .message_filetype_items li:hover .mod-icon__send-message-i7 {
     background-position: -39px -14px
 }
 
 .message_filetype_items li.active a,
 .message_filetype_items li:hover a {
     color: #222
 }
 
 .mod-icon__send-message-i1 {
     background-position: -24px 0;
     display: inline-block;
     width: 15px;
     height: 14px
 }
 
 .mod-icon__send-message-i2 {
     background-position: -16px -32px;
     display: inline-block;
     width: 16px;
     height: 14px
 }
 
 .mod-icon__send-message-i3 {
     background-position: -32px -32px;
     display: inline-block;
     width: 16px;
     height: 14px
 }
 
 .mod-icon__send-message-i4 {
     background-position: -26px -18px;
     display: inline-block;
     width: 10px;
     height: 14px
 }
 
 .mod-icon__send-message-i5 {
     background-position: -54px 0;
     display: inline-block;
     width: 16px;
     height: 14px
 }
 
 .mod-icon__send-message-i6 {
     vertical-align: -4px!important;
     background-position: -12px 0;
     display: inline-block;
     width: 12px;
     height: 18px
 }
 
 .mod-icon__send-message-i7 {
     background-position: -54px -28px;
     display: inline-block;
     width: 14px;
     height: 14px
 }
 
 .message_conversation {
     position: absolute;
     top: 0;
     bottom: 0;
     right: 0;
     width: 400px;
     background-color: #f8f8f8;
     box-shadow: -2px 0 4px rgba(0, 0, 0, .2);
     -webkit-transition: .4s;
     -moz-transition: .4s;
     -ms-transition: .4s;
     transition: .4s
 }
 
 .message_conversation_simple {
     box-shadow: none;
     border-left: 1px solid #ccc
 }
 
 .mc_header {
     overflow: hidden;
     padding: 0 10px;
     height: 44px;
     line-height: 44px;
     border-botom: 1px solid #ccc;
     text-align: center;
     background: #eaeaea;
     background: -webkit-linear-gradient(top, #f3f3f3, #eee);
     background: -moz-linear-gradient(top, #f3f3f3, #eee);
     background: linear-gradient(top, #f3f33f, #eee)
 }
 
 .mc_header .btn {
     margin-top: 5px
 }
 
 .mc_header .mc_title {
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     text-align: center;
     margin: 0 auto;
     width: 100px;
     font-size: 16px;
     height: 40px;
     line-height: 40px;
     position: absolute;
     left: 50%;
     margin-left: -50px
 }
 
 .mc_content {
     padding: 10px 0;
     position: absolute;
     top: 41px;
     bottom: 47px;
     left: 0;
     right: 0;
     overflow: auto
 }
 
 .message_conversation_simple .mc_content {
     bottom: 0
 }
 
 .mc_content_item {
     padding: 10px
 }
 
 .mc_content_item .mc_avatar_wrap {
     width: 42px;
     height: 42px;
     overflow: hidden
 }
 
 .mc_content_item.item_left .mc_avatar_wrap {
     float: left;
     margin-left: 10px
 }
 
 .mc_content_item .mc_avatar_wrap img {
     width: 40px;
     height: 40px;
     border-radius: 2px
 }
 
 .mc_text_wrap {
     position: relative;
     display: inline-block;
     padding: 1px;
     border-radius: 5px;
     box-shadow: 0 1px 1px rgba(0, 0, 0, .12);
     margin-top: 1px
 }
 
 .item_left .mc_text_wrap {
     float: left;
     margin-left: 18px;
     background-color: #79a337;
 }
 
 .mc_text_middle {
     padding: 1px;
     border-radius: 4px
 }
 
 .item_left .mc_text_middle,
 {
     background-color: #e4f0ce;
 }
 
 .mc_text_inner {
     padding: 4px 8px;
     border-radius: 4px;
     max-width: 222px;
     min-height: 28px;
     min-width: 16px
 }
 
 .item_left .mc_text_inner,
 {
     background-color: #c1dd8c;
 }
 
 .item_left .mc_arrow {
     display: inline-block;
     position: absolute;
     height: 8px;
     left: -6px;
     top: 16px
 }
 
 .mc_arrow_wrap {
     position: absolute;
     width: 0;
     height: 0;
     border-style: solid
 }
 
 .item_left .mc_arrow_wrap {
     border-width: 4px 6px 4px 0;
     border-color: transparent #79a337 transparent transparent
 }
 
 .mc_arrow_middle {
     position: absolute;
     width: 0;
     height: 0;
     border-style: solid
 }
 
 .item_left .mc_arrow_middle {
     border-color: transparent #e4f0ce transparent transparent;
     border-width: 4px 6px 4px 0;
     left: 2px;
     top: 0
 }
 
 .mc_arrow_inner {
     position: absolute;
     width: 0;
     height: 0;
     border-style: solid
 }
 
 .item_left .mc_arrow_inner {
     border-color: transparent #b9d781 transparent transparent;
     border-width: 4px 6px 4px 0;
     left: 4px;
     top: 0
 }
 
 .mc_detail {
     display: inline-block;
     vertical-align: middle;
     word-wrap: break-word;
     word-break: break-all
 }
 
 .mc_vertical {
     display: inline-block;
     height: 28px;
     vertical-align: middle
 }
 
 .mc_checkbox {
     float: left;
     margin: 15px 8px 0;
     display: none
 }
 
 .message_block {
     position: absolute;
     left: 0;
     right: 0;
     bottom: 51px;
     top: 0;
     overflow: auto
 }
 
 .message_view_write .message_block {
     top: 92px
 }
 
 .message_create_footer {
     *position: absolute;
     left: 0;
     right: 0;
     border-top: 1px solid #e5e5e5;
     padding: 10px;
     bottom: 0;
     background-color: #fff;
     line-height: 30px;
     border-radius: 0 0 3px 3px
 }
 
 .message_view_simple .message_create_footer {
     right: 0
 }
 
 .message_send_to_bar {
     padding: 12px 20px 10px;
     border-bottom: 1px solid #e5e5e5;
     max-height: 230px;
     overflow-y: auto;
     overflow-x: hidden
 }
 
 .message_edition_wrap {
     padding: 20px 0;
     width: 600px;
     margin: 0 auto
 }
 
 .message_edition_title_link {
     display: inline-block;
     margin: 0 0 10px
 }
 
 .input_edition_wrap {
     margin-top: 20px;
     position: relative;
     padding: 10px;
     min-height: 300px;
     min-width: 620px;
     border: 1px solid #ccc
 }
 
 .input_edition_content {
     width: 600px;
     padding: 10px;
     outline: 0;
     position: absolute;
     left: 0;
     top: 0;
     right: 0;
     bottom: 35px;
     overflow: auto;
     border-radius: 3px
 }
 
 .input_edition_bar {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     height: 32px;
     padding: 0 8px
 }
 
 .input_word_num_limit {
     padding-top: 5px
 }
 
 #viewloading {
     height: 3px;
     background: #4A90E2;
     position: absolute;
     top: 0;
     z-index: 100;
     transition: .4s;
     -moz-transition: .4s;
     -webkit-transition: .4s;
     -o-transition: .4s
 }
 
 .dialog_content .message_block {
     top: 40px;
 }
 
 .message_send_to_bar {
     overflow-y: visible;
     overflow-x: visible;
 }
 
 .mod-send-mode__basic {
     width: 85%;
 }
 
 .mod-send-mode__input-wrapper {
     overflow: hidden;
     max-height: 78px;
     padding-left: 0px;
     border: 1px solid #ddd;
 }
 
 .mod-send-mode__basic-input-placeholder {
     float: left;
     padding-left: 0px;
 }
 
 .mod-send-mode__basic-input-placeholder .token-input-list {
     border: none;
     overflow: auto;
     padding: 0px 5px 0 5px;
 }
 
 .mod-send-mode__basic-input-placeholder .token-input-list .token-input-token {
     margin-bottom: 2px;
 }
 
 .mod-send-mode__basic-input-placeholder .token-input-list .token-input-input-token {
     margin-bottom: 2px;
 }
 
 .mod-send-mode__basic-input-placeholder .token-input-list .token-input-input-token input {
     cursor: text;
 }
 
 .mod-lozenges__item {
     margin-bottom: 2px;
 }
 
 .message_preview_wrap {
     background-color: white;
 }
 
 .mc_header .mc_title {
     line-height: 44px;
     height: 44px;
 }
 
 .mc_header .btn {
     margin-top: 7px;
     margin-right: 5px;
 }
 
 li.token-input-input-token {
     display: inline-block;
     margin-bottom: 5px
 }
 
 body {
     font: 14px/1.5 "Helvetica Neue", Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, Microsoft Yahei, sans-serif;
     -webkit-font-smoothing: antialiased
 }
 
 body, form {
     margin: 0
 }
 
 p, ul {
     margin: 0;
     padding: 0
 }
 
 li {
     list-style: none
 }
 
 img {
     border: none
 }
 
 input,
 textarea {
     font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, Heiti SC, Hiragino Sans GB, Microsoft Yahei, sans-serif;
     font-size: inherit;
     line-height: inherit
 }
 
 textarea {
     vertical-align: top;
     overflow: auto
 }
 
 a {
     color: #4A90E2
 }
 
 input[type=checkbox] {
     outline: 0;
     line-height: 10px
 }
 
 .border_alpha {
     border: 1px solid #eee;
     border-color: rgba(0, 0, 0, .1);
     -webkit-*background-clip: padding;
 }
 
 .float-left {
     float: left;
 }
 
 .float-right {
     float: right;
 }
 
 .clearfix:before {
     content: "";
     display: table
 }
 
 .clearfix:after {
     content: "";
     display: table;
     clear: both
 }
 
 .token-input-list.input_text {
     padding: 3px 5px 0;
     line-height: normal
 }
 
 .current_app {
     position: relative
 }
 
 .current_app:hover {
     text-decoration: none
 }
 
 .current_app .img_logo {
     width: 30px;
     height: 30px;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     border-radius: 50%;
     -webkit-*background-clip: padding-box;
     vertical-align: middle
 }
 
 .current_app .name {
     vertical-align: middle;
     color: #000;
     font-size: 16px;
     margin-left: 8px;
     max-width: 200px;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     display: inline-block
 }

 .col_main {
     height: 100%;
     margin: 0 auto;
     overflow: hidden;
     border-radius: 3px
 }
 
 .col_mainInner {
     position: relative;
     height: 100%
 }
 
 .tool_bar {
     position: relative;
     height: 44px;
     line-height: 44px;
     padding: 0 10px;
     text-align: center;
     border-bottom: 1px solid #ccc;
 }
 
 .tool_bar .bar_left {
     float: left
 }
 
 .tool_bar .page_title {
     width: 50%;
     position: absolute;
     left: 25%;
     font-weight: 400;
     text-align: center;
     color: #222;
     font-size: 16px;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis
 }
 
 .tool_bar a.page_title {
     width: 7em;
     overflow: visible;
     left: 50%;
     margin-left: -210px
 }
 
 .tool_bar .page_title:hover {
     text-decoration: none;
     cursor: default
 }
 
 .tool_bar a.page_title:hover {
     text-decoration: none;
     cursor: pointer
 }
 
 .btn_blue {
     color: #fff;
     border-color: #417FC8
 }
 
 .btn_blue:disabled {
     border-color: #6da9d7;
     box-shadow: none;
     color: #fff
 }
 
 .icon {
     display: inline-block;
     width: 24px;
     height: 24px;
 }
 
 .icon_expression {
     width: 24px;
     height: 24px;
 }
 
 .input_text {
     width: 240px;
     height: auto;
     line-height: 20px;
     padding: 4px 5px;
     border: 1px solid #ddd;
     border-radius: 3px;
     resize: none
 }
 
 .input_text:focus {
     outline: 0;
     border-color: #96c4ff;
     box-shadow: 0 0 3px rgba(29, 201, 255, .8)
 }
 
 .input_checkbox,
 {
     margin: 0 5px 0 0;
     vertical-align: 1px
 }
 
 .input_checkbox {
     vertical-align: -4px
 }
 
 .input_group_add {
     vertical-align: middle;
     padding: 2px;
     height: 20px;
     border: none;
     line-height: 20px;
     color: #777;
     outline: 0;
     cursor: pointer
 }
 
 .input_group_add:focus {
     outline: 0
 }
 
 .video-js {
     width: 100%!important;
     height: 100%!important
 }
 
 .mod-lozenges__item {
     height: 24px;
     display: inline-block;
     color: #222;
     vertical-align: top;
     margin-right: 5px;
     margin-bottom: 5px;
     position: relative;
     font-size: 0;
     -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
     border-radius: 2px;
 }
 
 .mod-lozenges__icon {
     display: inline-block;
     height: 24px;
     width: 24px
 }
 
 .mod-lozenges__icon-avatar {
     height: 24px;
     width: 24px;
     display: inline-block;
     -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
     border-radius: 2px;
 }
 
 .mod-lozenges__text {
     display: inline-block;
     height: 24px;
     line-height: 24px;
     vertical-align: top;
     margin: 0 7px;
     font-size: 14px
 }
 
 .mod-lozenges__close-icon {
     display: inline-block;
     width: 20px;
     height: 20px;
     margin-top: 2px;
 }

 .mod-dropdown-select {
     display: inline-block;
     position: relative;
     width: 95px;
     line-height: normal;
     text-align: left
 }
 
 .mod-dropdown-select__select {
     text-align: left;
     color: #222;
     height: 28px;
     line-height: 28px;
     width: 100%;
     padding: 0;
     border: 1px solid #ddd;
     -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
     border-radius: 2px;
     display: inline-block;
     position: relative
 }
 
 .mod-dropdown-select__select:hover {
     text-decoration: none
 }
 
 .mod-dropdown-select__label {
     display: block;
     cursor: pointer;
     width: auto;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     word-wrap: normal;
     word-break: normal;
     margin-left: 10px;
     margin-right: 25px
 }
 
 .mod-dropdown-select__arrow {
     position: absolute;
     right: 8px;
     top: 50%;
     margin-top: -2.5px;
     display: inline-block;
     width: 0;
     height: 0;
     border-width: 5px;
     border-style: dashed;
     border-color: transparent;
     border-bottom-width: 0;
     border-top-color: #c6c6c6;
     border-top-style: solid
 }
 
 .mod-dropdown-select__list {
     display: none;
     position: absolute;
     top: 31px;
     left: 0;
     z-index: 200;
     max-height: 150px;
     min-height: 2em;
     min-width: 100%;
     overflow-x: hidden;
     overflow-y: auto;
     border: 1px solid #d9dadc;
     box-shadow: none;
     -moz-box-shadow: none;
     -webkit-box-shadow: none;
     border-radius: 3px;
     -moz-border-radius: 3px;
     -webkit-border-radius: 3px;
     font-size: 14px
 }
 
 .mod-dropdown-select__item {
     line-height: 30px;
     position: relative
 }
 
 .mod-dropdown-select__item a {
     display: block;
     text-decoration: none;
     color: #222;
     padding: 0 28px 0 10px;
 }
 
 .mod-dropdown-select__secondary-list::-webkit-scrollbar {
     width: 14px
 }
 
 
 .mod-dropdown-select__secondary-list::-webkit-scrollbar-thumb {
     border: 3px solid #fff;
     border-radius: 10px
 }
 
 .mod-dropdown-select__list-content::-webkit-scrollbar {
     width: 14px
 }
 
 .mod-dropdown-select__list-content::-webkit-scrollbar-track {
     *background: #fff
 }
 
 .mod-dropdown-select__list-content::-webkit-scrollbar-thumb {
     *background: rgba(215, 214, 210, .7);
     border: 3px solid #fff;
     border-radius: 10px
 }
 
 .mod-enterprise-header__background-noimage {
     vertical-align: bottom;
     height: 202px;
     width: 100%;
     padding: 0;
     position: relative
 }
 
 .mod-enterprise-header__background-image {
     width: 100%;
     padding: 0;
     position: relative;
     vertical-align: bottom;
 }
 
 .mod-enterprise-header__background-image img {
     width: 100%;
     max-height: 202px;
     float: left
 }
 
 .mod-enterprise-header__background-tip {
     display: block;
     color: #fff;
     position: absolute;
     margin-top: -8px;
     top: 50%;
     left: 37%
 }
 
 .mod-appcenter__brand-background {
     width: 145px;
     height: 78px;
     border: 1px dashed #c6c7cb;
     float: left;
     position: relative
 }
 
 .mod-appcenter__brand-background img {
     width: 100%
 }
 
 .mod-appcenter__brand-background__image {
     width: 145px;
     border: 0;
     float: left;
     position: relative
 }
 
 .mod-appcenter__brand-background__image img {
     width: 100%
 }
 
 .mod-appcenter__brand-background_loading {
     position: absolute;
     left: 50%;
     top: 50%;
     margin-left: -26px;
     margin-top: -26px
 }
 
 .mod-send-message-ontime_title {
     color: #63b181;
     font-size: 18px;
     margin: 17px 0 8px
 }
 
 .bar_left {
     float: left
 }
 
 .mod-send-mode__basic {
     position: relative;
     display: inline-block;
     width: 90%;
     vertical-align: -1px
 }
 
 .mod-send-mode__input-wrapper {
     border: 1px solid #ccc;
     height: 26px;
     line-height: 26px;
     padding: 2px 5px 0;
     -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
     border-radius: 2px;
     display: inline-block
 }
 
 .mod-send-mode__input-wrapper_block {
     display: block;
     height: auto;
     min-height: 26px;
     max-height: 85px;
     overflow-y: auto;
     position: relative;
     padding-right: 20px
 }
 
 .mod-send-mode__high {
     display: inline-block;
     vertical-align: -1px
 }
 
 .mod-send-mode__basic-input-placeholder {
     color: #75777A;
     display: inline-block;
     padding-left: 36px
 }
 
 .mod-icon_send-people {
     display: inline-block;
     position: absolute;
     right: 36px;
     width: 16px;
     color: #4A90E2;
     cursor: pointer;
     padding-right: 30px;
     border-left: 1px solid #D8DADD;
     height: 100%;
     top: 0
 }
 
 .mod-send-message-choice-all {
     display: inline-block;
     position: absolute;
     right: 5px;
     width: 20px;
     cursor: pointer;
     padding-left: 10px;
     padding-right: 10px;
     border-left: 1px solid #D8DADD;
     height: 100%;
     top: 0
 }
 
 .mod-send-mode__input-wrapper_gray .mod-send-message-choice-all {
     cursor: pointer;
 }
 
 .mod-send-mode__input-wrapper_gray .mod-icon_send-people {
     cursor: normal
 }
 
 .gray {
     color: #75777A
 }
 
 .ui-ta-c {
     text-align: center
 }
 
 .ui-fl-r {
     float: right
 }
 
 .ui-ml-medium {
     margin-left: 10px
 }
 
 .ui-mt-small {
     margin-top: 5px
 }
 
 .ui-mt-large {
     margin-top: 20px
 }
 
 .ui-mr-large {
     margin-right: 20px
 }
 
 .ui-mb-large {
     margin-bottom: 20px
 }
 
 .ui-bfc {
     zoom: 1;
     clear: both;
 }
 
 .ui-bfc:before {
     content: '';
     display: block
 }
 
 .ui-bfc:after {
     content: '';
     display: table;
     clear: both
 }
 
 .ui-bfc__left {
     float: left
 }
 
 .ui-bfc__content {
     display: table-cell
 }
 
 .ui-bfc__content:after {
     clear: both;
     display: block;
     visibility: hidden;
     overflow: hidden;
     height: 0!important;
     line-height: 0;
     font-size: xx-large;
     content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x "
 }
