 .message_view {
     position: absolute;
     left: 0;
     right: 0;
     top: 45px;
     bottom: 0
 }
 
 .message_view_simple {
     right: 400px
 }
 
 .message_bar {
     padding: 0 10px;
     height: 40px;
     line-height: 40px;
     border-bottom: 1px solid #e5e5e5;
     color: #d8d8d8
 }
 
 .message_filetype_items li {
     float: left;
     padding: 0 10px;
     margin-right: 10px
 }
 
 .message_filetype_items li span {
     vertical-align: -1px;
     display: inline-block
 }
 
 .message_filetype_items li a {
     padding: 0 6px;
     color: #777;
     height: 40px;
     line-height: 40px;
     display: inline-block;
 }
 
 .message_filetype_items li:hover a {
     text-decoration: none
 }
 
 .message_filetype_items li.active,
 .message_filetype_items li:hover {
     border-bottom: 3px solid #4a90e2;
     color: #222
 }
 
 .message_filetype_items li.active .mod-icon__send-message-i1,
 .message_filetype_items li:hover .mod-icon__send-message-i1 {
     background-position: -39px 0
 }
 
 .message_filetype_items li:hover .mod-icon__send-message-i2 {
     background-position: 0 -32px
 }
 
 .message_filetype_items li:hover .mod-icon__send-message-i3 {
     background-position: -54px -14px
 }
 
 .message_filetype_items li:hover .mod-icon__send-message-i4 {
     background-position: 0 -18px
 }
 
 .message_filetype_items li:hover .mod-icon__send-message-i5 {
     background-position: -10px -18px
 }
 
 .message_filetype_items li:hover .mod-icon__send-message-i6 {
     background-position: 0 0
 }
 
 .message_filetype_items li:hover .mod-icon__send-message-i7 {
     background-position: -39px -14px
 }
 
 .message_filetype_items li.active a,
 .message_filetype_items li:hover a {
     color: #222
 }
 
 .mod-icon__send-message-i1 {
     background-position: -24px 0;
     display: inline-block;
     width: 15px;
     height: 14px
 }
 
 .mod-icon__send-message-i2 {
     background-position: -16px -32px;
     display: inline-block;
     width: 16px;
     height: 14px
 }
 
 .mod-icon__send-message-i3 {
     background-position: -32px -32px;
     display: inline-block;
     width: 16px;
     height: 14px
 }
 
 .mod-icon__send-message-i4 {
     background-position: -26px -18px;
     display: inline-block;
     width: 10px;
     height: 14px
 }
 
 .mod-icon__send-message-i5 {
     background-position: -54px 0;
     display: inline-block;
     width: 16px;
     height: 14px
 }
 
 .mod-icon__send-message-i6 {
     vertical-align: -4px!important;
     background-position: -12px 0;
     display: inline-block;
     width: 12px;
     height: 18px
 }
 
 .mod-icon__send-message-i7 {
     background-position: -54px -28px;
     display: inline-block;
     width: 14px;
     height: 14px
 }
 
 .message_create_footer {
     left: 0;
     right: 0;
     border-top: 1px solid #e5e5e5;
     padding: 10px;
     bottom: 0;
     background-color: #fff;
     line-height: 30px;
     border-radius: 0 0 3px 3px
 }
 
 .message_view_simple .message_create_footer {
     right: 0
 }
 
 .message_send_to_bar {
     padding: 12px 20px 10px;
     border-bottom: 1px solid #e5e5e5;
     max-height: 230px;
     overflow-y: auto;
     overflow-x: hidden
 }
 
 .input_edition_wrap {
     margin-top: 20px;
     position: relative;
     padding: 10px;
     min-height: 300px;
     min-width: 620px;
     border: 1px solid #ccc
 }
 
 .input_edition_content {
     width: 600px;
     padding: 10px;
     outline: 0;
     position: absolute;
     left: 0;
     top: 0;
     right: 0;
     bottom: 35px;
     overflow: auto;
     border-radius: 3px
 }
 
 .input_edition_bar {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     height: 32px;
     padding: 0 8px
 }
 
 .input_word_num_limit {
     padding-top: 5px
 }
 
 .message_send_to_bar {
     overflow-y: visible;
     overflow-x: visible;
 }
 
 .mod-send-mode__basic {
     width: 85%;
 }
 
 .mod-send-mode__input-wrapper {
     overflow: hidden;
     max-height: 78px;
     padding-left: 0px;
     border: 1px solid #ddd;
 }
 
 

 textarea {
     font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, Heiti SC, Hiragino Sans GB, Microsoft Yahei, sans-serif;
     font-size: inherit;
     line-height: inherit
 }
 
 textarea {
     vertical-align: top;
     overflow: auto
 }
 
 input[type=checkbox] {
     outline: 0;
     line-height: 10px
 }
 
 .float-left {
     float: left;
 }
 
 .float-right {
     float: right;
 }
 
 .clearfix:before {
     content: "";
     display: table
 }
 
 .clearfix:after {
     content: "";
     display: table;
     clear: both
 }
 

 .current_app {
     position: relative
 }
 
 .current_app:hover {
     text-decoration: none
 }
 
 .col_mainInner {
     position: relative;
     height: 100%
 }
 

 
 .icon {
     display: inline-block;
     width: 24px;
     height: 24px;
 }
 
 .icon_expression {
     width: 24px;
     height: 24px;
 }
 

 .input_checkbox {
     vertical-align: -4px
 }
 
 
 
 .mod-dropdown-select {
     display: inline-block;
     position: relative;
     width: 95px;
     line-height: normal;
     text-align: left
 }
 
 
 .mod-send-mode__basic {
     position: relative;
     display: inline-block;
     width: 90%;
     vertical-align: -1px
 }
 
 .mod-send-mode__input-wrapper {
     border: 1px solid #ccc;
     height: 26px;
     line-height: 26px;
     padding: 2px 5px 0;
     -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
     border-radius: 2px;
     display: inline-block
 }
 
 .mod-send-mode__input-wrapper_block {
     display: block;
     height: auto;
     min-height: 26px;
     max-height: 85px;
     overflow-y: auto;
     position: relative;
     padding-right: 20px
 }
 
 .mod-send-mode__high {
     display: inline-block;
     vertical-align: -1px
 }
 
 .gray {
     color: #75777A
 }
 
 .ui-ml-medium {
     margin-left: 10px
 }
 
 .ui-mt-small {
     margin-top: 5px
 }
 
 .ui-mr-large {
     margin-right: 20px
 }
 
 .ui-mb-large {
     margin-bottom: 20px
 }
 
 .ui-bfc {
     zoom: 1;
     clear: both;
 }
 
 .ui-bfc:before {
     content: '';
     display: block
 }
 
 .ui-bfc:after {
     content: '';
     display: table;
     clear: both
 }
 
 .ui-bfc__left {
     float: left
 }
