<div class="cpp-panel panel-without-head" style="z-index: 58338; width: 400px; left: 142px;">
    <a ng-click="cancle()" class="cpp-panel-close"></a>
    <div class="cpp-panel-head"></div>
    <div class="cpp-panel-body">
        <div class="cpp-panel-remind ">
            <h6>{{message.head}}</h6>
            <p>{{message.body}}</p>
        </div>
    </div>
    <div class="cpp-panel-foot">
        <div ng-click="submit()" class="cpp-button cpp-button-primary cpp-button-default cpp-button-normal">发布</div>
        <div ng-click="cancle()" class="cpp-button cpp-button-default cpp-button-normal">取消</div>
    </div>
    <div class="panel-inner-overlay"></div>
</div>
