.msbs-button {
    line-height: 38px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    color: #545a6c;
    border: 1px solid #d0d0d5;
    border-color: rgba(0, 0, 0, .15);
    border-radius: 4px;
    padding: 0 16px;
    min-width: 46px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    overflow: visible;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    font-family: inherit
}

.msbs-button:hover {
    color: #2d3441;
    border-color: #a6a6a6;
    text-decoration: none
}

.msbs-button:active {
    background-color: #f5f5fa
}

.msbs-button-primary {
    border: 1px solid #00a5e0;
    background-color: #00a5e0;
    color: #fff
}

.msbs-button-primary:hover {
    background-color: #00b4f5;
    border-color: #00b4f5;
    color: #fff
}

.msbs-button-primary:active {
    background-color: #0092c7;
    border-color: #0092c7;
    color: #fff
}

.msbs-button-primary {
    border-color: #00a5e0
}

.msbs-text-input {
    position: relative;
    height: 34px;
    line-height: 34px;
    padding: 2px 8px;
    border: 1px solid #d0d0d5;
    border-radius: 4px;
    vertical-align: top;
    background-color: #fff;
    -webkit-transition: border-color .15s, background-color .15s;
}

input.msbs-text-input,
.msbs-text-input input {
    outline: 0;
    font-size: 100%;
    font-family: 'microsoft yahei', arial, sans-serif;
    color: #545a6c
}

input.msbs-text-input {
    height: 20px;
    line-height: 18px;
    padding: 9px 8px
}

.msbs-text-input input {
    display: block;
    width: 100%;
    line-height: 20px;
    margin: 0;
    padding: 7px 0;
    border: 0 none;
    background: 0;
    position: relative;
    z-index: 1
}

.msbs-text-input:hover {
    border-color: #ababaf
}

.msbs-text-input:focus,
,
{
    border-color: #00a5e0
}

.msbs-text-input>input:focus {
    border-color: #00a5e0
}

.msbs-text-input .msbs-text-input-placeholder {
    position: absolute;
    top: 2px;
    left: 8px;
    right: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #a2a9b6;
    cursor: text;
    line-height: 34px
}

.msbs-text-input-placeholder {
    left: 40px
}

.msbs-text-input-placeholder {
    left: 8px
}

.hidden {
    display: none!important
}

@-webkit-keyframes spin {
    form {
        -webkit-transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes spin {
    form {
        transform: rotate(0)
    }
    to {
        transform: rotate(-360deg)
    }
}

.main-title {
    overflow: hidden;
    position: relative
}

@media all and (max-width:1440px) {}



.main-content {
    box-shadow: 0 1px 3px rgba(0, 0, 1, 0.1);
    background-color: #fff;
    border: 1px solid #d0d0d5;
    border: 0 rgba(0, 0, 0, 0);
    margin-top: 6px
}

@media all and (max-width:1400px) {
    .main-content {
        box-shadow: 0 1px 3px rgba(0, 0, 1, 0.1);
        background-color: #fff;
        border: 1px solid #d0d0d5;
        border: 0 rgba(0, 0, 0, 0);
        margin-top: 11px
    }
}

.menu-notopen {
    overflow: hidden;
    height: 854px;
    line-height: 1;
    text-align: center
}

.menu-notopen dt {
    width: 302px;
    height: 503px;
    margin: 100px auto 35px auto;
}

.menu-notopen .title {
    margin-bottom: 23px;
    font-size: 24px;
    color: #4c5161
}

.menu-notopen .desc {
    line-height: 1.5
}

.menu-action {
    min-height: 790px;
    line-height: 1
}

.menu-action .item-content {
    float: left;
    /*width: 350px;*/
    padding: 35px 40px 0 40px
}

.menu-action .item-action {
    overflow: hidden;
    position: relative;
    padding-right: 40px
}

.menu-action .edit-action {
    position: relative;
    padding-top: 60px;
    color: #a2a9b6
}

.menu-action .edit-action .btn-group {
    overflow: hidden;
    margin-bottom: 14px
}

.menu-action .edit-action .btn-group a {
    float: left;
    margin-right: 8px
}

.menu-action .editing {
    padding: 35px 0 0 0
}

.menu-action .editing .list-tit {
    margin-bottom: 15px;
    font-size: 16px
}

.menu-action .editing .list-con {
    margin-bottom: 40px;
    overflow: hidden
}

.menu-action .editing .list-con .action-type {
    width: 120%
}

.menu-action .editing .list-name {
    position: relative;
    max-width: 510px
}

.menu-action .editing .list-name .msbs-text-input {
    width: 100%;
    height: 100%;
    max-width: 510px;
    box-sizing: border-box;
    padding-right: 40px
}

.menu-action .editing .list-name .letter-count {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 12px;
    color: #a2a9b6;
    line-height: 40px
}

.menu-action .editing .list-action .tip-next {
    margin-bottom: 15px;
    color: #5f6577
}

.menu-action .editing .action-type {
    overflow: hidden;
    margin-bottom: 25px
}

.menu-action .editing .action-type li {
    float: left;
    margin-right: 60px
}

.menu-action .editing .jump-url {
    position: relative;
    max-width: 510px
}

@media(-webkit-min-device-pixel-ratio:1.5),
(min-resolution:2dppx) {}

.overlay-menu-preview {
    z-index: 20;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(25, 28, 34, .88);
    text-align: center;
    overflow: auto;
    
}

.overlay-menu-preview:after {
    content: '';
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    width: 0;
    height: 90%
}

.menu-preview {
    width: 317px;
    height: 652px;
    display: inline-block;
    position: relative;
    vertical-align: middle
}

.menu-preview .iphone-simulator {
    position: relative;
    width: 317px;
    height: 652px;
    background: url(./img/iphone-simulator.png) no-repeat left top
}

.menu-preview .title {
    position: absolute;
    top: 97px;
    left: 0;
    width: 100%;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 14px;
    color: #fff
}

.menu-preview .btn-exit {
    position: absolute;
    bottom: -63px;
    left: 114px
}

.menu-preview .preview-nav {
    overflow: hidden;
    position: absolute;
    top: 200px;
    right: 20px;
    bottom: 79px;
    left: 21px
}

.menu-preview .top-nav {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 34px
}

.menu-preview .top-nav>ul>li {
    *z-index: 5;
    position: relative;
    float: left;
    height: 33px
}

.menu-preview .top-nav>ul>li>a {
    position: relative;
    z-index: 5;
    display: block;
    *float: left;
    *width: 100%;
    text-align: center;
    line-height: 34px;
    color: #333;
    font-size: 12px;
    background-color: #fff
}

.icon-keyboard {
    width: 34px;
    z-index: 5
}
