<div>
    <h2>Oauth应用管理</h2>
    <div class="clearfix list-bar">
        <div class="col-sm-4 pull-right">
            <button type="submit" ng-click="new()" class="btn button-cancel btn-default pull-right">新建应用</button>
            <button type="submit" ng-click="tableParams.sorting({})" class="btn button-cancel btn-default pull-right">排序取消</button>
        </div>
    </div>

    <div loading-container="tableParams.settings().$loading">
        <table ng-table="tableParams" show-filter="true" class="table table-condensed table-striped">   
            <tr ng-repeat="application in $data">
                <td data-title="'ID'" filter="{'id': 'text'}" sortable="'id'"> 
                    {{application.id}}
                </td>
                <td data-title="'授权Id'" sortable="'oauth_id'">
                    {{application.oauthId}}
                </td>
                <td data-title="'应用名'" sortable="'app_name'">
                    {{application.appName}}
                </td>
                <td data-title="'关联应用Id'" filter="{'application_id': 'text'}" sortable="'application_id'">
                     <a ui-sref="application-list({applicationId: '{{application.applicationId}}'})">{{application.applicationId}}</a>
                </td>
                <td data-title="'回调域名'" sortable="'callback_domain'">
                    {{application.domain}}
                </td>  
                <td data-title="'密钥'" sortable="'aes_secret'">
                    {{application.aesSecret}}
                </td>
                <td data-title="'创建时间'" sortable="'create_at'">
                    {{application.createAt | date:'yyyy-MM-dd HH:mm:ss'}}
                </td>         
                <td data-title="'是否有效'" sortable="'is_active'">
                    {{application.isActive}}
                </td> 
                <td data-title="'是否为可信用户'" sortable="'is_trustable'">
                    {{application.isTrustable}}
                </td>  
                <td data-title="'操作'">
                    <a type="button" ng-click="edit(application)" class="btn btn-default btn-operation" title = "编辑"><i class="sa fa fa-edit"></i></a>
                    <a type="button" ng-click="delete(application)" class="btn btn-default btn-operation" title = "删除"><i class="sa fa fa-remove"></i></a>
                </td> 
            </tr>
        </table> 
    </div>
</div>