<script type="text/ng-template" id="add_tag_render.html">
        <div ui-tree-handle data-nodrag class="tree-node tree-node-content">
            <a ng-if="node.children && (node.children.length > 0)" data-nodrag ng-click="toggle(this)"><span
            class="glyphicon"
            ng-class="{
              'glyphicon-chevron-right': collapsed,
              'glyphicon-chevron-down': !collapsed
            }"></span>
            </a>

            <span ng-click="departmentNameClicked(this.$modelValue)">{{node.name}}</span>
        </div>

        <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.children" ui-tree-node ng-include="'add_tag_render.html'">
            </li>
        </ol>
</script>

<script type="text/ng-template" id="tag_list_render.html">
        <div ui-tree-handle data-nodrag class="tree-node tree-node-content">
            <a ng-if="node.children && (node.children.length > 0)" data-nodrag ng-click="toggle(this)"><span
            class="glyphicon"
            ng-class="{
              'glyphicon-chevron-right': collapsed,
              'glyphicon-chevron-down': !collapsed
            }"></span>
            </a>

            <span ng-click="setTagId(this.$modelValue)">{{node.tagname}}</span>
        </div>

        <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.children" ui-tree-node ng-include="'tag_list_render.html'">
            </li>
        </ol>
</script>

<div class="popup">
        <div class="dialog_header">
            <span class="dialog_title title js_title">选择发送范围</span> 
            <a class="dialog_close" ng-click="cancle()"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
        <div class="dialog_content">
            <div class="dialog_content_sendTo">
                <!-- 提示区域 -->
                <div class="js_tips red ui-d-n">
                    <label class="expire-color error-label">{{errorMsg}}</label>
                </div>
                <!-- 自动完成 -->
                <div class="mod-tree-people__input">
                    <ul class="token-input-list input_text" ng-model="selectedTagUser">
                        <li class="token-input-input-token middle-size-li" ng-repeat="selectedMember in selectedTagUser">{{selectedMember.name || selectedMember.tagname}}<a type="button" ng-click="deleteSelectedTagUser(selectedMember)" class="btn btn-default btn-operation btn-xs" title = "删除"><i class="glyphicon glyphicon-remove"></i></a></li>
                       <input type="text" class="input_group_add" autocomplete="off" autocapitalize="off" id="token-input-" placeholder="">
                    </ul>
                    <input type="text" class="js_input input_group_add" autocomplete="off" autocapitalize="off" style="outline: none; width: 30px; display: none;">
                </div>
                <div class="js_select">
                    <!-- 类型标签 -->
                    <div class="tab_bar">
                        <ul class="tab_filetype_items">
                            <li class="js_phead"><a ng-class="departmentLink" ng-click="addDepartment()">部门</a></li>
                            <li class="js_mhead"><a ng-class="memberLink" ng-click="addDepartmentUser()">成员</a></li>
                            <li class="js_mhead"><a ng-class="tagLink" ng-click="addTag()">标签</a></li>
                        </ul>
                    </div>
                    <!-- 类型主体 -->
                    <div ng-if="showDepartmentOrUser=='department'"class="js_pbody org_list dialog_choose_items_org">
                        <div ui-tree id="ui-tree-root">
                            <ul ui-tree-nodes ng-model="data">
                                <li ng-repeat="node in data" ui-tree-node ng-include="'add_tag_render.html'"></li>
                            </ul>
                        </div>
                    </div>

                    <div ng-if="showDepartmentOrUser=='tag'"class="js_pbody org_list dialog_choose_items_org">
                        <div ui-tree id="ui-tree-root">
                            <ul ui-tree-nodes ng-model="tagData">
                                <li ng-repeat="node in tagData" ui-tree-node ng-include="'tag_list_render.html'"></li>
                            </ul>
                        </div>
                    </div>

                    <div ng-if="showDepartmentOrUser=='user'" class="js_mbody org_list">
                        <div class="mod-tree-people__box">
                            <div class="js_mbodyl mod-tree-people__org-list" style="height: 399px;">
                                <div ui-tree id="ui-tree-root">
                                    <ul ui-tree-nodes ng-model="data">
                                        <li ng-repeat="node in data" ui-tree-node ng-include="'add_tag_render.html'"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="js_mbodyr">
                            <div class="mod-tree-people__people-list listview-list" style="overflow: auto">
                                <div loading-container="tableParams.settings().$loading">
                                <table ng-table="tableParams" show-filter="true" class="table table-striped">        
                                    <tr ng-click="setTagId(user)" ng-repeat="user in $data">

                                        <td data-title="'姓名'">
                                            {{user.name}}
                                        </td>
                                        <td data-title="'账号'">
                                            {{user.userid}}
                                        </td>
                                        
                                    </tr>
                                </table> 
                                </div> 
                            </div>

                            </div>
              
                        </div>
                    </div>

                </div>
                 <div class="dialog_tool ui-ta-c">
                    <a ng-click="submit()" class="js_submit btn btn_blue">确定</a>
                </div>
            </div>
        </div>
       
    </div>