<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>农肯商城后台管理系统</title>
    </head>

    <body>
        <div admin-header class="header-con"></div>
    <!-- MAIN CONTENT -->
        <div admin-sidebar class="sidebar-con"></div>

        <div class="content">
            <div class="container-fluid">
            <div ui-view class="height100"></div>
            </div>

        </div>
        
        <script type="text/javascript" src="/publicc/dist/bundle.js"></script>
    </body>
</html>
