<div>
    <div loading-container="tableParams.settings().$loading">
        <table ng-table="tableParams" show-filter="true" class="table table-condensed table-striped">   
            <tr ng-repeat="orderDetail in $data">
            	<td data-title="'商品名称'">
                    {{orderDetail.goodsName}}
                </td>
                <td data-title="'商品规格'">
                    {{orderDetail.specifications}}
                </td>
                <td data-title="'商品单价'">
                    {{orderDetail.singlPrice}}
                </td>
                <td data-title="'商品份数'">
                    {{orderDetail.goodsCount}}
                </td>
                <td data-title="'商品单位'">
                    {{order.goodsDetail.unit}}
                </td>
                
            </tr>
        </table> 
    </div>
</div>