<div>
    <div class="clearfix list-bar">
        <div class="col-sm-4 pull-left">
            <h1>详细商品管理：{{good.name}}</h1>
        </div>
        <div class="col-sm-4 pull-right">
            
            <button type="submit" ui-sref="application-list" class="btn button-cancel btn-default pull-right">返回商品管理</button>
            <button type="submit" ng-click="new()" class="btn button-cancel btn-default pull-right">新建商品</button>
        </div>
    </div>

    <div loading-container="tableParams.settings().$loading">
        <table ng-table="tableParams" show-filter="true" class="table table-condensed table-striped">   
            <tr ng-repeat="application in $data">
                <td data-title="'规格'">
                    {{application.specifications}}
                </td>
                <td data-title="'单位'">
                    {{application.unit}}
                </td>
                <td data-title="'单价'">
                    {{application.price}}
                </td>
                <td data-title="'库存'">
                    {{application.number}}
                </td>
                <td data-title="'打包方式'">
                    {{application.wayOfPacking}}
                </td>
                <td data-title="'运输方式'">
                    {{application.wayOfTransport}}
                </td>
                <td data-title="'物流公司'">
                    {{application.logisticsCompany}}
                </td>
                <td data-title="'配送地区'">
                    {{application.areas}}
                </td>
                <td data-title="'描述'">
                    {{application.description}}
                </td>
                <td data-title="'操作'">
                    <a type="button" ng-click="edit(application)" class="btn btn-default btn-operation" title = "详情/编辑">编辑</a>
                    <a type="button" ng-click="delete(application)" class="btn btn-default btn-operation" title = "删除">删除</a>
                </td> 
            </tr>
        </table> 
    </div>
</div>