.section-main {
    padding: 0 30px
}

.section-auto {
    min-width: 1003px;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px
}

.checked ~ section .section-auto {
    min-width: 1157px
}