<div class="dialog">
    <div class="block">
        <p class="block-heading">登录</p>
        <div class="block-body">
            <form>
                <label>用户名</label>
                <input placeholder="请输入用户名" autofocus ng-model="username" required type="text" tabindex="1" class="form-control bottom">
                <label>密码</label>
                <input iag-enter="login($event)" placeholder="请输入密码" ng-model="password" required type="password" tabindex="2" class="form-control bottom">
                <a iag-enter="login($event)" ng-click="login($event)" tabindex="3" class="margin-top btn btn-primary btn-save pull-right">登录</a>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
