.js_mbodyr {
    height: 399px;    
}
tr {
    cursor: pointer;
}
.middle-size-li {
    display: inline;
    list-style-type: none;
    padding: 5px 10px;
}

.float-div {
    position: absolute;
    margin-left:10px; 
    margin-top:10px;
    background: white;
}

.without-border {
    border: 0px;
    margin-bottom: 4px;
}

.without-border:focus {
    border: 0px;
}

.ul-form-control {   
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.with-border {
    border:2px dotted black;
}

.with-border:focus {
    box-shadow: 10px 10px 5px white;
}

body {
    font: 14px/1.5 "Helvetica Neue", Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, Microsoft Yahei, sans-serif;
    -webkit-font-smoothing: antialiased
}

body, h6 {
    margin: 0
}

ul {
    margin: 0;
    padding: 0
}

li {
    list-style: none
}

 h6 {
    font-size: 100%
}

input {
    font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, Heiti SC, Hiragino Sans GB, Microsoft Yahei, sans-serif;
    font-size: inherit;
    line-height: inherit
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #4A90E2
}

a:hover {
    text-decoration: underline
}
.js_select {
    height: 441px;
}
.jstree-node .icon_folder_blue {
    vertical-align: top;
    top: 10px!important;
    margin-right: 6px!important
}
 
.token-input-list .input_text {
    padding: 3px 5px 0;
    height: auto;
    line-height: normal
}

.jstree-icon.jstree-ocl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10
}

body {
    color: #222;
}

 body,
html {
    height: 100%
}

.js_phead {
    display: list-item;
}
.tab_bar {
    border-top:1px solid #e5e5e5;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e5e5e5;
    color: #d8d8d8
}

.tab_filetype_items {
    overflow: hidden
}

.tab_filetype_items li {
    float: left;
    padding: 0 10px
}

.tab_filetype_items li a {
    float: left;
    padding: 0 10px;
    color: #777;
    height: 40px;
    line-height: 40px;
    -webkit-box-sizing: border-box
}

.tab_filetype_items li {
    text-decoration: none;
    color: #4a90e2
}

.tab_filetype_items li a.active {
    border-bottom: 3px solid #4a90e2;
    color: #222
}

.btn {
    display: inline-block;
    height: 28px;
    margin: 0;
    padding: 0 10px;
    min-width: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    color: #222;
    border: 1px solid #c8c8c8;
    border-radius: 2px;
    background: -webkit-linear-gradient(top, #fdfdfd 0, #eff1f4 100%);
    cursor: default;
    -webkit-user-select: none
}

.btn:hover {
    text-decoration: none;
    cursor: pointer
}

.btn:active
.btn:focus {
    background: -webkit-linear-gradient(top, #e7e7e7 0, #c6c6c6 100%);

    outline: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1) inset
}

.btn_blue {
    color: #fff;
    background: -webkit-linear-gradient(top, #4a90e2 0, #4a90e2 100%);
    
    border-color: #417FC8
}



 .btn_blue:disabled {
    background-image: none;
    background-color: #a9cdf7;
    border-color: #6da9d7;
    box-shadow: none;
    color: #fff
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat!important
}

.icon_folder_blue {
    width: 12px!important;
    height: 11px!important;
    background-position: -256px -64px!important
}

.icon_close {
    background-position: -27px -123px;
    width: 25px;
    height: 25px
}

.input_text {
    width: 240px;
    height: 35px;
    line-height: 20px;
    padding: 4px 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    resize: none
}

.input_text:focus {
    outline: 0;
    border-color: #96c4ff;
    box-shadow: 0 0 3px rgba(29, 201, 255, .8)
}

.input_group_add {
    vertical-align: middle;
    padding: 2px;
    height: 20px;
    border: none;
    line-height: 20px;
    color: #777;
    outline: 0;
    cursor: pointer
}

.input_group_add:focus {
    outline: 0
}

.tag_group-name {
    font-size: 14px;
    color: #777;
    padding: 10px 20px;
    font-weight: 400
}

.tag_group {
    padding: 10px 0;
    position: relative
}

.dialog_content_sendTo {
    position: relative;
    height: 495px
}

.dialog_content_sendTo .token-input-list {
    z-index:800;
    background-color:white;
    width: 545px;
    *max-height: 35px;
    overflow: hidden;
    overflow-y: auto
}

.dialog_choose_items_org {
    overflow: auto;
    height: 399px
}

.dialog_choose_items_org li a {
    margin-right: 0
}


.dialog_header {
    cursor: move;
    position: relative;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    background: -webkit-linear-gradient(top, #f3f3f3 0, #eee 100%);
}

.dialog_header .title {
    display: block;
    font-size: 16px;
    font-weight: 400;
    text-align: center
}

.dialog_header .dialog_close {
    position: absolute;
    top: -5px;
    right: 0;
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer
}

.dialog_content {
    min-height: 120px;
    position: relative
}

.dialog_tool {
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    overflow: hidden;
    height: 50px;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px
}

.dialog_tool .btn {
    float: right;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px
}

.video-js:-webkit-full-screen {
    width: 100%!important;
    height: 100%!important
}

.mod-dropdown-select__secondary-list::-webkit-scrollbar {
    width: 14px
}

.mod-dropdown-select__secondary-list::-webkit-scrollbar-track {
    background: #fff
}

.mod-dropdown-select__secondary-list::-webkit-scrollbar-thumb {
    background: rgba(215, 214, 210, .7);
    border: 3px solid #fff;
    border-radius: 10px
}

.mod-dropdown-select__list-content::-webkit-scrollbar {
    width: 14px
}

.mod-dropdown-select__list-content::-webkit-scrollbar-track {
    background: #fff
}

.mod-dropdown-select__list-content::-webkit-scrollbar-thumb {
    background: rgba(215, 214, 210, .7);
    border: 3px solid #fff;
    border-radius: 10px
}

 li, ul {
    list-style-type: none
}

.mod-tree-people__input {
    margin: 20px 40px
}

.mod-tree-people__input .token-input-list {
    height: auto;
    width: 100%!important;
    -webkit-box-sizing: border-box;
}

 
.mod-tree-people__box {
    border-top: 1px solid #E5E5E5;
    zoom: 1;
    clear: both;
    *zoom: 1
}

.mod-tree-people__box:before {
    content: '';
    display: block
}

.mod-tree-people__box:after {
    content: '';
    display: table;
    clear: both
}

.mod-tree-people__org-list {
    width: 260px;
    float: left;
    overflow: auto
}

.mod-tree-people__people-list {
    margin-left: 260px;
    height: 100%;
    border-left: 1px solid #E5E5E5;
    overflow-y: auto
}

.red {
    color: #da4a38
}

.ui-ta-c {
    text-align: center
}

.ui-d-n {
    display: none!important
}
