<div class="col_mainInner">
    <a class="current_app page_title">
        <ol class="breadcrumb">
          <li><a ui-sref="home">主页</a></li>
          <li><a ui-sref="send-message-main">发消息</a></li>
          <li class="active">{{currentApplication.appName}}</li>
        </ol>
    </a>
    
    <div class="message_view message_view_simple message_view_write">
        <form>
            <!-- 选人区域 -->
            <div class="message_send_to_bar">
                <div class="ui-bfc">
                    <div class="ui-bfc__left ui-mr-large">
                        <div class="ui-mt-small">发送给:</div>
                    </div>
                    <div class="mod-dropdown-select js_mode_dd dropdown_menu" style="margin-right:10px;vertical-align:top">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{selectedSendModel}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a ng-click="selectModel('普通模式')">普通模式</a></li>
                            <li><a ng-click="selectModel('高级模式')">高级模式</a></li>
                        </ul>      
                    </div>

                    <!-- 普通模式 --> 
                    <div ng-if="selectedSendModel=='普通模式'" class="mod-send-mode__basic">
                        <div class="mod-send-mode__input-wrapper mod-send-mode__input-wrapper_block">
                            
                            <div class="mod-tree-people__input">
                                <ul class="token-input-list input_text" ng-model="selectedSendUser">
                                    <li class="token-input-input-token middle-size-li" ng-repeat="selectedMember in selectedSendUser">{{selectedMember.name || selectedMember.tagname}}<a type="button" ng-click="deleteSelectedTagUser(selectedMember)" class="btn btn-default btn-operation btn-xs" title = "删除"><i class="glyphicon glyphicon-remove"></i></a></li>
                                   <input type="text" class="input_group_add" autocomplete="off" autocapitalize="off" id="token-input-" placeholder="">
                                </ul>
                                <input type="text" class="js_input input_group_add" autocomplete="off" autocapitalize="off" style="outline: none; width: 30px; display: none;">
                            </div>
                            
                        </div>
                        <a type="button" ng-click="basicAddSendUser()" class="list-action-new btn btn-default pull-right"><i class=" sa fa fa-plus"></i></a>
                    </div>
                        
                    <!-- 高级模式 -->
                    <div ng-if="selectedSendModel=='高级模式'" class="js_adv_row_list mod-send-mode__high">
                        <div class="mod-send-mode__advance-row">
                        <div ng-repeat="criteria in sendInputList">
                            <div class="js_adv_row mod-send-mode__advance-row">
                                <div class="js_adv_row_input mod-send-mode__input-wrapper mod-send-mode__input-wrapper_block">
                                    <div class="mod-tree-people__input">
                                        <ul class="token-input-list input_text" ng-model="sendInputList[$index].firstValue">
                                            <li class="token-input-input-token middle-size-li" ng-repeat="selectedMember in sendInputList[$index].firstValue">{{selectedMember.name || selectedMember.tagname}}<a type="button" ng-click="deleteAdvSelectedSendUser(selectedMember, 'first', $index)" class="btn btn-default btn-operation btn-xs" title = "删除"><i class="glyphicon glyphicon-remove"></i></a></li>
                                           <input type="text" class="input_group_add" autocomplete="off" autocapitalize="off" id="token-input-" placeholder="">
                                        </ul>
                                        <input type="text" class="js_input input_group_add" autocomplete="off" autocapitalize="off" style="outline: none; width: 30px; display: none;">
                                    </div>
                                    <a type="button" ng-click="advAddSendUser('first', $index)" class="list-action-new btn btn-default pull-right"><i class=" sa fa fa-plus"></i></a>
                                </div>
                                
                                <div class="js_adv_row_input mod-dropdown-select js_mode_dd dropdown_menu" >
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        {{criteria.operator}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a ng-click="selectCacul('and', $index)">and</a></li>
                                        <li><a ng-click="selectCacul('except', $index)">except</a></li>
                                    </ul>      
                                </div>
                                <div class="js_adv_row_input mod-send-mode__input-wrapper mod-send-mode__input-wrapper_block">
                                    <div class="mod-tree-people__input">
                                        <ul class="token-input-list input_text" ng-model="sendInputList[$index].secondValue">
                                            <li class="token-input-input-token middle-size-li" ng-repeat="selectedMember in sendInputList[$index].secondValue">{{selectedMember.name || selectedMember.tagname}}<a type="button" ng-click="deleteAdvSelectedSendUser(selectedMember, 'second', $index)" class="btn btn-default btn-operation btn-xs" title = "删除"><i class="glyphicon glyphicon-remove"></i></a></li>
                                           <input type="text" class="input_group_add" autocomplete="off" autocapitalize="off" id="token-input-" placeholder="">
                                        </ul>
                                        <input type="text" class="js_input input_group_add" autocomplete="off" autocapitalize="off" style="outline: none; width: 30px; display: none;">
                                    </div>
                                    <a type="button" ng-click="advAddSendUser('second', $index)" class="list-action-new btn btn-default pull-right"><i class=" sa fa fa-plus"></i></a>
                                </div>
                                
                                <span class="mod-send-mode__input-tips js_adv_row_type_desc">的共同成员
                                
                                <a ng-show="$index>0" ng-click="delSendInput($index)">移除</a>
                            </div>
                            </div>
                            <a ng-click="addSendInput()" class="js_adv_row_add">添加发送范围</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="message_bar">
            <!-- 类型区域 -->
                <ul class="message_filetype_items">
                    <li class="js_compose_type active" data-type="0"><span class="mod-icon__send-message-i1"></span><a href="javascript:;">文字</a></li>
                    <li class="js_compose_type" data-type="4"><span class="mod-icon__send-message-i2"></span><a href="javascript:;">图文</a></li>
                    <li class="js_compose_type" data-type="1"><span class="mod-icon__send-message-i3"></span><a href="javascript:;">图片</a></li>
                    <li class="js_compose_type" data-type="5"><span class="mod-icon__send-message-i4"></span><a href="javascript:;">文件</a></li>
                    <li class="js_compose_type" data-type="3"><span class="mod-icon__send-message-i5"></span><a href="javascript:;">视频</a></li>
                    <li class="js_compose_type" data-type="2"><span class="mod-icon__send-message-i6"></span><a href="javascript:;">语音</a></li>
                    <li class="js_compose_type" data-type="6" style="display: none;"><span class="mod-icon__send-message-i7"></span><a href="javascript:;">卡券</a></li>
                </ul>
            </div>
            <div class="input_edition_wrap input_text">
                <textarea class="input_edition_content" contenteditable="true" name="content" maxlength="600" ng-model="sendText"></textarea>
                <div class="input_edition_bar">
                    <a class="icon icon_expression float-left js_emoticon" href="javascript:;"></a>
                    <span class="input_word_num_limit float-right gray">{{600-sendText.length}}</span>
                </div>
            </div>

            <!-- 图文消息 -->
            <div ng-if="selectedMsgType=='图文消息'" class="input_edition_wrap ">
               
                <form>
                    <p>标题</p>
                    <input class="input_group_add newsMsg-input-width" type="text"> 

                    <p>封面图片</p>
                    <input ng-click="selectFile()" type="file" ngf-select ng-model="picIcon" ngf-accept="'image/*'" name="picIcon" class="upload_button">
                    <p class="p-inline"> 推荐尺寸：900像素 x 500像素 </p>                
                 
                    <button ng-if="selectedFile==1" type="button" class="" ng-click="uploadPic(picIcon, 'image')">上传</button>

                    <p class="p-margin-top">作者(选填)</p>
                    <input class="input_group_add newsMsg-input-width" type="text">
                    
                    <p>原文链接(选填)</p>
                    <input class="input_group_add newsMsg-input-width" type="text"> 
            
                    <p>摘要(摘要只在发送消息为单图文时显示)</p>
                    <textarea class="newsMsg-textarea-size"></textarea>

                    <p>正文</p>
                    <textarea class="newsMsg-textarea-size"></textarea>

                </form>
            
            </div>
            <!-- 语音消息 -->
            <div ng-if="selectedMsgType=='语音消息'" class="js_compose">
                <div class="ui-mb-large">
                    <p class="mod-send-message-button-title">语音</p>
                    <p>
                        <span class="upload_box upload_area"><input ng-click="selectAudioFile()" type="file" ngf-select ng-model="AudioFile" ngf-accept="'audio/*'" name="AudioFile" class="upload_button">上传语音</span>
                        <button ng-if="selectedFile==1" type="button" class="" ng-click="uploadAudio(AudioFile, 'VOICE')">上传</button>
                        <span>格式支持mp3、wma、wav、amr，文件大小不超过5M，语音时长不超过1分钟</span>
                    </p>
                </div>
            </div>
            <div class="js_message">
               <!--  <div class="message_block">
                    <div class="message_edition_wrap">
                        <a href="javascript:;" class="js_compose_pick message_edition_title_link">选择素材</a>
                        
                        <div class="js_compose">
                            <div class="ui-mb-large">
                                <div class="input_edition_wrap input_text">
                                    <textarea class="input_edition_content" contenteditable="true" name="content" maxlength="600">kk</textarea>
                                    <div class="input_edition_bar">
                                        <a class="icon icon_expression float-left js_emoticon" href="javascript:;"></a>
                                        <span class="input_word_num_limit float-right gray">600</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="message_create_footer">
                    <a class="btn btn_blue js_message_send ui-ml-medium" ng-click="submitSend()">发送</a>
                    <a class="btn btn_blue js_message_sendtime ui-ml-medium">定时发送</a>
                    <a class="btn btn_blue js_message_save ui-ml-medium">保存</a>
                    <label class="gray js_message_security">
                        <input name="security" type="checkbox" class="input_checkbox">保密消息
                    </label>
                    <label class="gray js_message_permanent" style="margin-right:18px;">
                        <input name="permanent" type="checkbox" class="input_checkbox">永久保存
                    </label>
                </div>
            </div>
            <div class="js_material"></div>
        </form>
    </div>
    <!-- <div class="message_preview_wrap message_conversation message_conversation_simple">
        <div class="mc_header">
            <p class="mc_title">预览</p>
            <a href="javascript:;" class="js_message_preview ui-fl-r btn ui-mr-large">在微信中预览</a>
        </div>
        
        <div class="js_preview mc_content">
            <div>
                <div class="mc_content_item item_left">
                    <div class="mc_content_wrap clearfix">
                        <input type="checkbox" class="checkbox mc_checkbox">
                        <div class="mc_avatar_wrap">
                            
                        </div>
                        <div class="mc_text_wrap">
                            <div class="mc_text_middle">
                                <div class="mc_text_inner">
                                    <span class="mc_arrow">
                        <span class="mc_arrow_wrap"></span>
                                    <span class="mc_arrow_middle"></span>
                                    <span class="mc_arrow_inner"></span>
                                    </span>
                                    
                                    <div class="mc_detail js_content"></div><span class="mc_vertical"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>

