
       
 
            <div class="col_mainInner">
                <div class="tool_bar">
                    <div class="bar_left">
                        <a class="current_app page_title" href="javascript:;" style="cursor: default;margin-left:-250px">
                            
                            <span class="name">>{{currentApplication.appName}}</span>
                        </a>
                    </div>
                </div>
                <div class="message_view message_view_simple message_view_write">
                    <form>
                        <!-- 选人区域 -->
                        <div class="message_send_to_bar">
                            <div class="ui-bfc">
                                <div class="ui-bfc__left ui-mr-large">
                                    <div class="ui-mt-small">发送给:</div>
                                </div>
                                <div class="mod-dropdown-select js_mode_dd dropdown_menu" style="margin-right:10px;vertical-align:top">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        {{selectedSendModel}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a ng-click="selectModel('普通模式')">普通模式</a></li>
                                        <li><a ng-click="selectModel('高级模式')">高级模式</a></li>
                                    </ul>      
                                </div>
                                <div class="ui-bfc__content">
                                    <!-- 伪装效果 -->
                                    <div class="js_std_box_placeholder mod-send-mode" style="display: none;">
                                        <div class="mod-dropdown-select" style="margin-right:10px;vertical-align:top">
                                            <a href="javascript:;" class="mod-dropdown-select__select">
                                                <label class="mod-dropdown-select__label">普通模式</label>
                                                <i class="mod-dropdown-select__arrow"></i>
                                            </a>
                                        </div>
                                        <div class="mod-send-mode__basic">
                                            <div class="mod-send-mode__input-wrapper mod-send-mode__input-wrapper_block">
                                                <div class="mod-send-mode__basic-input-placeholder">
                                                    <span style="color: #aaa; padding: 7px">搜索部门、标签或成员</span>
                                                </div>
                                                <span class="mod-icon_send-people" style="background-position: 11px center;"></span>
                                                <span class="mod-send-message-choice-all"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 全选模式 -->
                                    <div class="js_all_box mod-send-mode" style="display:none;">
                                        <div class="mod-dropdown-select" style="margin-right:10px;vertical-align:top">
                                            <a href="javascript:;" class="mod-dropdown-select__select">
                                                <label class="mod-dropdown-select__label" style="color: gray">普通模式</label>
                                                <i class="mod-dropdown-select__arrow"></i>
                                            </a>
                                        </div>
                                        <div class="mod-send-mode__basic">
                                            <div class="mod-send-mode__input-wrapper mod-send-mode__input-wrapper_gray mod-send-mode__input-wrapper_block">
                                                <div class="mod-send-mode__basic-input-placeholder">
                                                    <ul class="token-input-list input_text" style="width: 500px;">
                                                        <li class="mod-lozenges__item token-input-token">
                                                            <span class="mod-lozenges__icon"><img class="mod-lozenges__icon-avatar" src="http://mmbiz.qpic.cn/mmbiz/fnbDHZVTMq9YfWU8XHjmbhD0DicnR5pvveLC3RGx7N6ZCbt3UtKXK2MB1zEMsw4JqTZ2Cz4rTZy316iabUoIB1Uw/0"></span>
                                                            <span class="mod-lozenges__text">军军测试可见范围</span>
                                                            <span class="js_mode_std token-input-delete-token"><i class="mod-lozenges__close-icon"></i></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <span class="mod-icon_send-people" style="background-position: 11px center;"></span>
                                                <span class="js_mode_std mod-send-message-choice-all"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 普通模式 -->
                                    <div class="js_std_box mod-send-mode" style="">
                                        <div class="mod-send-mode__basic">
                                            <div class="mod-send-mode__input-wrapper mod-send-mode__input-wrapper_block">
                                                <div class="js_std_input mod-send-mode__basic-input-placeholder">
                                                    <ul class="token-input-list input_text" style="width: 184px;">
                                                        <li class="token-input-input-token">
                                                            <input type="text" class="input_group_add" autocomplete="off" autocapitalize="off" id="token-input-js_std_input" placeholder="搜索部门、标签或成员" style="outline: none; width: 170px;">
                                                            <tester style="position: absolute; top: -9999px; left: -9999px; width: auto; font-size: 14px; font-family: 'Helvetica Neue', 'Helvetica Neue', Helvetica, Arial, 'Heiti SC', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif; font-weight: 400; letter-spacing: 0px; white-space: nowrap;">搜索部门、标签或成员</tester>
                                                        </li>
                                                    </ul>
                                                    <input type="text" id="js_std_input" name="to" style="display: none;">
                                                </div>
                                                <span class="js_std_picker mod-icon_send-people" style="background-position: 11px center;"></span>
                                                <span class="js_mode_all mod-send-message-choice-all"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 高级模式 -->
                                    <div class="js_adv_box mod-send-mode" style="display:none">
                                        
                                        <div class="js_adv_row_list mod-send-mode__high">
                                            <div class="mod-send-mode__advance-row">
                                                <a href="javascript:;" class="js_adv_row_add">添加发送范围</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="message_bar">
                            <!-- 类型区域 -->
                            <ul class="message_filetype_items">
                                <li class="js_compose_type active" data-type="0"><span class="mod-icon__send-message-i1"></span><a href="javascript:;">文字</a></li>
                                <li class="js_compose_type" data-type="4"><span class="mod-icon__send-message-i2"></span><a href="javascript:;">图文</a></li>
                                <li class="js_compose_type" data-type="1"><span class="mod-icon__send-message-i3"></span><a href="javascript:;">图片</a></li>
                                <li class="js_compose_type" data-type="5"><span class="mod-icon__send-message-i4"></span><a href="javascript:;">文件</a></li>
                                <li class="js_compose_type" data-type="3"><span class="mod-icon__send-message-i5"></span><a href="javascript:;">视频</a></li>
                                <li class="js_compose_type" data-type="2"><span class="mod-icon__send-message-i6"></span><a href="javascript:;">语音</a></li>
                                <li class="js_compose_type" data-type="6" style="display: none;"><span class="mod-icon__send-message-i7"></span><a href="javascript:;">卡券</a></li>
                            </ul>
                        </div>
                        <div class="js_message">
                            <div class="message_block" style="top: 131px;">
                                <div class="message_edition_wrap">
                                    <a href="javascript:;" class="js_compose_pick message_edition_title_link">选择素材</a>
                                    <!-- 编辑区域 -->
                                    <div class="js_compose">
                                        <div>
                                            <div class="">
                                                <div class="ui-mb-large">
                                                    <div class="input_edition_wrap input_text">
                                                        <textarea class="input_edition_content" style="min-height:290px;min-width:610px;border:none;resize:none;" contenteditable="true" name="content" maxlength="600"></textarea>
                                                        <div class="input_edition_bar" style="border-top: 1px solid #ccc">
                                                            <a class="icon icon_expression float-left js_emoticon" style="margin-top: 4px" href="javascript:;"></a>
                                                            <span class="input_word_num_limit float-right gray">600</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="message_create_footer">
                                <a class="btn btn_blue js_message_send ui-ml-medium">发送</a>
                                <a class="btn btn_blue js_message_sendtime ui-ml-medium">定时发送</a>
                                <a class="btn btn_blue js_message_save ui-ml-medium" style="display: none;">保存</a>
                                <label class="gray js_message_security" style="padding-left:20px; margin-right:18px;">
                                    <input name="security" type="checkbox" class="input_checkbox" style="vertical-align: sub;">保密消息
                                </label>
                                <label class="gray js_message_permanent" style="margin-right:18px;">
                                    <input name="permanent" type="checkbox" class="input_checkbox" style="vertical-align: sub;">永久保存
                                </label>
                            </div>
                        </div>
                        <div class="js_material"></div>
                    </form>
                </div>
                <div class="message_preview_wrap message_conversation message_conversation_simple" style="overflow-y:auto">
                    <div class="mc_header" style="border-bottom:1px solid #ccc;">
                        <p class="mc_title">预览</p>
                        <a href="javascript:;" class="js_message_preview ui-fl-r btn ui-mr-large">在微信中预览</a>
                    </div>
                    <!-- 预览区域 -->
                    <div class="js_preview mc_content">
                        <div>
                            <div class="mc_content_item item_left">
                                <div class="mc_content_wrap clearfix">
                                    <input type="checkbox" class="checkbox mc_checkbox">
                                    <div class="mc_avatar_wrap">
                                        <img src="http://wx.qlogo.cn/mmhead/Q3auHgzwzM4aWb1b5AUyTdzSTfIBn8pcFudkbVOTLYClt43rllBDibQ/0" class="border_alpha">
                                    </div>
                                    <div class="mc_text_wrap">
                                        <div class="mc_text_middle">
                                            <div class="mc_text_inner">
                                                <span class="mc_arrow">
                                                <span class="mc_arrow_wrap"></span>
                                                <span class="mc_arrow_middle"></span>
                                                <span class="mc_arrow_inner"></span>
                                                </span>
                                                <!-- span 不要换行 -->
                                                <div class="mc_detail js_content"></div><span class="mc_vertical"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col_main js_compose_hint" style="display:none">
            <div class="col_mainInner">
                <div class="tool_bar">
                    <div class="bar_left">
                        <a class="current_app page_title" href="javascript:;" style="cursor: default; left: 45%; margin-left: auto">
                            <img src="http://mmbiz.qpic.cn/mmbiz/fnbDHZVTMq9YfWU8XHjmbhD0DicnR5pvveLC3RGx7N6ZCbt3UtKXK2MB1zEMsw4JqTZ2Cz4rTZy316iabUoIB1Uw/0" class="img_logo alpha_border">
                            <span class="name">军军测试</span>
                        </a>
                    </div>
                </div>
                <div class="app_view">
                    <div style="width:374px; margin: 140px auto;">
                        <div class="ui-ta-c">
                            <img src="https://res.wx.qq.com/mmocbiz/zh_CN/tmt/pc/dist/img/success_d249928b.png" alt="">
                            <p class="mod-send-message-ontime_title">你的定时消息保存成功</p>
                            <div class="ui-ta-c" style="color: #75777A;">
                                <p>该消息暂时保存在<a href="#message/1065022283/massrecord">消息中心－应用消息</a>，它将在指定时间进行发送，实际送达时间稍有延迟。</p>
                            </div>
                        </div>
                        <div class="ui-mt-large ui-ta-c">
                            <a href="javascript:;" class="btn btn_blue js_reload">返回</a>
                        </div>
                    </div>
                </div>
            </div>



