<div class="popup">
    <div class="popup-header">
        <h2 class="popup-title text-center">修改密码</h2>
    </div>
    <div class="popup-body">
       <form class="form-horizontal">
            <label class="expire-color error-label">{{errorMsg}}</label>
            
            <div class="form-group user-property">
                <label for="user-password" class="col-sm-3 control-label">原密码</label>
                <div class="col-sm-8">
                    <input name="password" type="text" ng-click="olrPasswordClick()" 
                    class="form-control user-input" id="old-password">
                </div>
            </div>
            
            <div class="form-group user-property">
                <label for="new-password" class="col-sm-3 control-label">新密码</label>
                <div class="col-sm-8">
                    <input name="newPassword" type="password" ng-blur="newPasswordClick()" 
                    class="form-control user-input" id="new-password" 
                    ng-model="user.newPassword">
                </div>
            </div>
            
            <div class="form-group user-property">
                <label for="is-new-password" class="col-sm-3 control-label">确认密码</label>
                <div class="col-sm-8">
                    <input type="password" ng-blur="checkNewPasswordClick()" 
                    class="form-control user-input" id="is-new-password" >
                </div>
            </div>
            
            <div class="clearfix">
                <button type="submit" ng-click="cancle()" class="btn button-cancel btn-default pull-right">取消</button>
                <button type="submit"  ng-click="submit()" class="btn btn-primary pull-right">提交</button>
            </div>
        </form>
    </div>  
</div>