body {
    color: red;
    background-color: white;
}

li {
    list-style: none;
}

span {
    display: inline-block;
    cursor: pointer;
}

a {
    cursor: pointer;    
}

.fixed-height {
    overflow: auto;
    height: 100%;
}

.container-fluid {
    height: 100%;   
}