<div class="col-sm-12">
    <div class="col-sm-3 dropdown">
        <ol class="breadcrumb">
          <li><a ui-sref="home">主页</a></li>
          <li><span class="dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">标签<span class="caret"></span>
            </span>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <li><a ui-sref="contacts-management">部门管理</a></li>
                <li><a ui-sref="tag-management">标签管理</a></li>
            </ul></li>
        </ol>        
    </div>
    <div class="col-sm-1">
        <a type="button" ng-click="newTag()" class="list-action-new btn btn-default pull-right" title = "添加标签"><i class=" sa fa fa-plus"></i></a>
    </div>
    <div class="col-sm-6">
        <h3>标签成员</h3>
    </div>
    <div class="col-sm-2">
        <a type="button" ng-click="newTagUser()" class="list-action-new btn btn-default pull-right" title = "添加成员"><i class=" sa fa fa-plus"></i></a>
    </div>
</div>
<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle data-nodrag class="tree-node tree-node-content">
        <span ng-click="getTagMemberList(this.$modelValue.tagid)">{{node.tagname}}</span>

        <div class="btn-group">
            <span id+"dropDownCarset" class="caret dropdown-toggle" data-toggle="dropdown"></span>
            <ul class="dropdown-menu" role="menu">
                <li><a ng-click="deleteTag(this)" >删除</a></li>
                <li><a ng-click="renameTag(this)">重命名</a></li>
            </ul>
        </div>
    </div>
</script>

<div class="col-sm-4 fixed-height">
    <div ui-tree id="tree-root">
        <ol ui-tree-nodes ng-model="data">
            <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
        </ol>
    </div>
</div>

<div class="col-sm-8 fixed-height">
    <div loading-container="tagTableParams.settings().$loading">
    <table ng-table="tagTableParams" show-filter="true" class="table table-striped">        
        <tr ng-repeat="menber in $data">

            <td data-title="'名字'">
                {{menber.name}}
            </td>
            <td data-title="'类型'">
                {{menber.type}}
            </td>
            <td data-title="'操作'">
                <a type="button" ng-click="deleteTagUser(menber)" class="btn btn-default btn-operation" title = "删除"><i class="sa fa fa-remove"></i></a>
            </td>
        </tr>
    </table> 
    </div>
</div>