<div class="menu-edit" id="menu-edit">
    <h2 class="title">{{currentApp.appName}}</h2>
    <div class="level1 tc">
        <ul class="level1-list">
            <li class="item item-level1" ng-class="['item-level1-' + $index]" ng-repeat="mainButton in nodes.button" data-l1="0">
                <p class="item-name-wrap"><span class="item-name ">{{mainButton.name}}</span>
                    </p>
                <div class="action">
                    <span ng-click="selectMainNode($index)" class="bar">
                    <span ng-click="deleteMainButton($index, $event)" class="item-del icon-remove">删除</span>
                    <a ng-show="$index<nodes.button.length-1" ng-click="movePos('R', $index)" class="item-moveright icon-right">右移</a>
                    <a ng-show="$index>0" class="item-moveleft icon-left" ng-click="movePos('L', $index)">左移</a>
                    </span>
                    <span class="overlay"></span>
                </div>
            </li>
            <li ng-show="nodes.button.length<1" ng-click="addMainButton()" class="item item-level1-0 item-level1-add">
                <span class="icon-level1-add"></span>
            </li>
            <li ng-show="nodes.button.length<2" ng-click="addMainButton()" class="item item-level1-1 item-level1-add">
                <span class="icon-level1-add"></span>
            </li>
            <li ng-show="nodes.button.length<3" ng-click="addMainButton()" class="item item-level1-2 item-level1-add">
                <span class="icon-level1-add"></span>
            </li>
        </ul>
    </div>
    <div ng-repeat="button in nodes.button" ng-class="['level2-' + $index]" class="level2 tc ">
        <ul class="level2-list tc">
            <li ng-init="focused = false" ng-class="{true: 'focus'}[focused]" ng-repeat="sub_button in button.sub_button" class="item item-level2 item-level2-top" data-l1="0" data-l2="0">
                <p ng-focus="focused=true" ng-blur="focused=false" class="item-name-wrap"><span class="item-name ">{{sub_button.name}}</span>
                    </p>
                <div class="action">
                    <span ng-click="selectSubNode($index, $parent.$index)" class="bar">
                    <span ng-click="deleteSubButton($index, $parent.$index, $event)" class="item-del icon-remove">删除</span>
                    <a ng-show="$index>0" ng-click="moveSubPos('U', $index, $parent.$index)" class="item-moveup icon-up">上移</a>
                    <a ng-show="$index<button.sub_button.length-1" ng-click="moveSubPos('D', $index, $parent.$index)" class="item-movedown icon-down">下移</a>
                    </span>
                    <span class="overlay"></span>
                </div>
            </li>
            <li ng-show="undefined==button.sub_button||button.sub_button.length<5" ng-click="addSubButton($index)" class="item-level2-add" data-l1="2">
                <span></span>
            </li>
        </ul>
    </div>
</div>