<div class="popup">
    <div class="popup-header">
        <h2 class="popup-title text-center">{{method}}商品</h2>
    </div>
    <div class="popup-body">
        <form class="form-horizontal">
            <label class="expire-color error-label">{{errorMsg}}</label>
            <div ng-show="method=='编辑'" class="form-group application-property">
                <label class="col-sm-3 control-label">ID</label>
                <p class="col-sm-8 re-pos">
                   {{application.id}}
                </p>
            </div>
             <div class="form-group application-property">
                <label for="application-id" class="col-sm-3 control-label">名称</label>
                <div class="col-sm-8">
                    <input type="text" ng-click="applicationInputClick()" class="form-control application-input" id="application-id" placeholder="(必填)" ng-model="application.name" value="{{application.name}}" maxlength="47">
                </div>
            </div>
            <!-- <div class="form-group application-property">
                <label for="application-name" class="col-sm-3 control-label">所属商户</label>
                <div class="col-sm-8">
                    <input type="text" ng-click="applicationInputClick()" class="form-control application-input" id="application-name" placeholder="(必填)" ng-model="application.merchantId" value="{{application.merchantId}}" maxlength="47">
                </div>
            </div> -->
            <div class="form-group application-property">
                <label for="application-name" class="col-sm-3 control-label">产地</label>
                <div class="col-sm-8">
                    <input type="text" ng-click="applicationInputClick()" class="form-control application-input" id="application-name" placeholder="(必填)" ng-model="application.origin" value="{{application.origin}}" maxlength="47">
                </div>
            </div>
            <div class="form-group application-property">
                <label for="application-channel" class="col-sm-3 control-label">商品一级分类</label>
                <div class="col-sm-8">
                    <select ng-model="application.categoryId" ng-options="c.id as c.name for c in goodsCategorys">  
                    </select>
                </div>
            </div>
            <div class="form-group application-property">
                <label for="application-channel" class="col-sm-3 control-label">商品二级分类</label>
                <div class="col-sm-8">
                    <select ng-model="application.categoryTypeId" ng-options="c.id as c.name for c in categoryTypes">  
                    </select>
                </div>
            </div>
            <div ng-repeat="img in application.imageUrls" class="form-group application-property">
                <label for="application-name" class="col-sm-3 control-label">图片{{$index + 1}}</label>
                <div class="col-sm-6">
                    <img src="{{img}}">
                </div>
                <a class="col-sm-1 btn btn-default" type="button" ng-click="deleteImg($index)">删除</a>
            </div>
            <!-- <div class="form-group application-property">
                <label for="application-name" class="col-sm-3 control-label">发货地区</label>
                <div class="col-sm-8">
                    <input type="text" ng-click="applicationInputClick()" class="form-control application-input" id="application-name" placeholder="(必填)" ng-model="application.goodsArea" value="{{application.goodsArea}}" maxlength="47">
                </div>
            </div> -->
            <!-- <div class="form-group application-property">
                <label for="application-name" class="col-sm-3 control-label">所属商户</label>
                <div class="col-sm-8">
                    <input type="text" ng-click="applicationInputClick()" class="form-control application-input" id="application-name" placeholder="(必填)" ng-model="application.merchant.id" value="{{application..merchant.id}" maxlength="47">
                </div>
            </div> -->
            <div ng-show="application.channel=='FWweixin'" class="form-group application-property">
                <label for="application-goodsCode" class="col-sm-3 control-label">商品编号</label>
                <div class="col-sm-8">
                    <input type="text" ng-click="applicationInputClick()" class="form-control application-input" id="application-goodsCode" placeholder="原始ID" ng-model="application.goodsCode" value="{{application.goodsCode}}" maxlength="47">
                </div>
            </div>

          
           <!--  <div class="form-group isDeleted-switch">
                <label for="isDeleted-switch" class="col-sm-3 control-label">是否删除</label>
                <div class="application-switch col-sm-2">
                    <switch class="wide" name="enabled" ng-model="application.isDeleted"></switch>
                </div>
            </div> -->
        
            <div class="clearfix">
                <a type="button" ngf-select="upload($scope, openIdFile, application)" ng-model="openIdFile" name="file" class="pull-right btn btn-default btn-operation" title="上传">上传图片</a>
                <button type="submit" ng-click="cancle()" class="btn button-cancel btn-default pull-right">取消</button>
                <button type="submit" ng-click="submit()" class="btn btn-primary pull-right">提交</button>
                <!-- ngf-accept="'image/*'"  -->
                
            </div>
        </form>
    </div>  
</div>