<div>
    <div class="clearfix list-bar">
        <div class="col-sm-4 pull-right">
            <button type="submit" ng-click="new()" class="btn button-cancel btn-default pull-right">新建商户</button>
        </div>
    </div>

    <div loading-container="tableParams.settings().$loading">
        <table ng-table="tableParams" show-filter="true" class="table table-striped">   
            <tr ng-repeat="user in $data">
                <td data-title="'ID'" sortable="'id'">
                    {{user.id}}
                </td>
                <td data-title="'用户名'" filter="{'loginName': 'text'}" sortable="'login_name'">
                    {{user.loginName}}
                </td>
                <!-- <td data-title="'用户类型'" filter="{'user_type': 'select'}" filter-data="userTypeList" sortable="'user_type'">
                    {{user.userType | userType}}
                </td>   -->
                <!-- <td data-title="'密码'" sortable="'password'">
                    {{user.password}}
                </td> -->
                <td data-title="'姓名'" sortable="'name'">
                    {{user.name}}
                </td>  
                <td data-title="'电话'" sortable="'phone'">
                    {{user.phone}}
                </td> 
                <td data-title="'地址'" sortable="'address'">
                    {{user.address}}
                </td>  
                <td data-title="'是否冻结'" sortable="'is_active'">
                    {{user.isForbidden || userStatus}}
                </td>     
                    
                <td data-title="'操作'">
                    <a type="button" ng-click="edit(user)" class="btn btn-default btn-operation">编辑</a>
                    <a type="button" ng-click="delete(user)" class="btn btn-default btn-operation">删除</a>
                </td> 
            </tr>
        </table> 
    </div>
</div>