<div>
    <h2>第三方应用管理</h2>
    <div class="clearfix list-bar">
        <div class="col-sm-4 pull-right">
            <button type="submit" ng-click="new()" class="btn button-cancel btn-default pull-right">新建应用</button>
            <button type="submit" ng-click="tableParams.sorting({})" class="btn button-cancel btn-default pull-right">排序取消</button>
        </div>
    </div>

    <div loading-container="tableParams.settings().$loading">

        <table ng-table="tableParams" show-filter="true" class="table table-striped">        
            <tr ng-repeat="accessApplication in $data">

                <td data-title="'第三方应用ID'" filter="{'access_id': 'text'}" sortable="'access_id'">
                    {{accessApplication.accessId}}
                </td>
                <td data-title="'第三方应用名'" sortable="'app_name'">
                    {{accessApplication.appName}}
                </td>
                <td data-title="'回调URL'" sortable="'callback'">
                    {{accessApplication.callback}}
                </td>
                <td data-title="'应用ID'" filter="{'application_id': 'text'}" sortable="'application_id'">
                    <a ui-sref="application-list({applicationId: '{{accessApplication.applicationId}}'})">{{accessApplication.applicationId}}</a>
                </td>  
                <td data-title="'是否有效'" sortable="'is_active'">
                    {{accessApplication.isActive}}
                </td>

                <td data-title="'操作'">
                    <a type="button" ng-click="edit(accessApplication)" class="btn btn-default btn-operation" title = "编辑"><i class="sa fa fa-edit"></i></a>
                    <a type="button" ng-click="delete(accessApplication)" class="btn btn-default btn-operation" title = "删除"><i class="sa fa fa-remove"></i></a>
                </td>
            </tr>
        </table> 
    </div>

</div>